* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    text-align: left;
    padding: 30px 0;
    color: #28a745; /* Color verde */
}

.act{
    color: #000;
}

header h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

header p {
    font-size: 14px;
    margin-bottom: 10px;
}

nav {
    background-color: #28a745; /* Fondo verde del menú */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align:left;
}

nav ul li {
    display: inline-block;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
   
    text-align: left;
}

main p {
    font-size: 16px;
    min-height: 70vh;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin-top: 20px;
}
